<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key ="dirName" value="C:/VisualStudioProject/TestFTP/Files"/>
    <add key="ServerAddress" value="10.90.90.58"/>
    <add key="UserName" value="incube"/>
    <add key="Password" value="incube"/>
  </appSettings>
</configuration>